/*
 * Page structure:
 * body
 *  #outer_wrapper
 *    #outer_header
 *    #inner_wrapper (main content of page)
 *      #header  (your organization's banner, etc)
 *      .a1-nav     (nav tabs; 1 set if patron, 2 sets if admin)
 *      #content (main page content)
 *      #welcome_header (login/logout buttons)
 *  #footer    (Audience1st footer)
 * default css file: https://cdn.jsdelivr.net/gh/armandofox/stylesheets@master/nono-berkeley/default.css
 * old css link for hamilton: https://cdn.jsdelivr.net/gh/lindyh/tickets4good@911e871/tickets.css
 */

@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
html {
    font-size: 11pt;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    color: #121313;
}
body {
    background-color: #f7e8a1;
}

#outer_wrapper {
    /*line-height: 1;*/
    background: #9fc41aff; /* <-- background color change, currently wicked green */
    width: 960px;
    margin: 0 auto;
    height: 100%; }

#inner_wrapper {
    background-color: white;
    width: 960px;
    /* change if want to do left sidebar */
    margin: 0;
    padding: 0 0 10px 0;
    overflow: auto;
    /* banner links to venue's main site */
}
#inner_wrapper a#top_level_banner_link {
    margin: 0;
    padding: 0;
}

#header {
    /*font-family: 'EB Garamond', serif;*/
    /* to include a site logo, use 'background-image:' here */
    height: 300px;
    background-image: url("images/cabaret_hamilton.png"); /* <-- background image change */
    background-size: contain;
    background-position: center center;
    /*font-size: 400%;*/
    /*color: #121313;*/
    /*background-color: #fff;*/
    /*text-shadow: 2px 2px #a89720;*/
    padding: 16px 0px 0px 20px;
    /*text-align: center;*/
    /*font-weight: bold;*/
    /*font-style: italic;*/
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    text-align: left;
}


#content {
    padding: 0px 4px;
}

#footer {
    margin: 0;
    padding: 20px;
    color: white;
}
#footer a {
    color: white;
    font-weight: bold;
    /*text-decoration: underline;*/
}

/* Navigation tabs - don't mess with these unless you know what you're
   doing - it allows the UL environment to create horizontal tabs
*/
ul.a1-nav {
    background-color: #fff;
    border-top: 1px solid white;
    float: left;
    width: 100%;
    list-style: none;
    border-bottom: none;
}
ul.a1-nav li {
    float: left;
}
ul.a1-nav li a {
    color: #121313;
    background-color: #fff;
    padding: 2ex;
    margin: 0;
    display: block;
    float: left;
    text-decoration: none;
}
ul.a1-nav li a:hover {
    /*background-color: #ccc;*/
    color: #ccc;
}

#event_types .btn {
   display: none;
}

/*lindy chages*/

p.py-4{
  display: none;
}

#regularShow_BannerNonSubscriber.storeBanner {
  padding: 20px 20px 56px 20px;
}

/*#enter_promo_code {
  display: none;
}*/

#show_description.explanation {
  padding: 20px
}

.col-md-4.offset-md-4 {
  padding: 20px
}

body#store_checkout  div#someone_else  {
   display: none;
}

/* override nav tab color when tab selected */
body#store_index li#t_store_index a,
body#customers_welcome li#t_customers_welcome a,
body#customers_welcome_subscriber li#t_customers_welcome a,
body#customers_edit li#t_customers_edit a,
body#customers_change_password li#t_customers_change_password a,
body#report_index li#t_report_index a,
body#box_office_walkup li#t_box_office_walkup a,
body#options_edit li#t_options_edit a,
body#shows_list li#t_shows_list a,
body#shows_edit li#t_shows_list a,
body#showdates_edit li#t_shows_list a,
body#vouchertypes_list li#t_vouchertypes_list a,
body#vouchertypes_edit li#t_vouchertypes_list a,
body#donation_list li#t_donation_list a {
    background-color: #777;
}
